# Ignore local config with secrets
# (project root config.txt will be committed as requested)

# Ignore output files
*.csv

# Visual Studio / editor files
.vscode/
*.user
*.suo

# OS files
Thumbs.db
.DS_Store
PBI Service Extract/config.txt
